.modalContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.205);
}

.modalContainer .modal {
    position: absolute;
    width: 40%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
