.grow {
    flex: 1;
}
.main {
    overflow-y: auto;
}
.is-invalid {
    display: block;
    padding: 4px;
    background: rgba(220,53,69,.9);
    margin-top: 3px;
    color: #fff;
    font-size: .875rem;
}
a.btn.btn-default.float-right {
    margin-top: 45px;
    margin-bottom: 40px;
    margin-left: 793px;
    display: block;
    background: green;
    color: #fff;
}
.form-inline {
    display: flex;
    justify-content: normal;
    align-items: baseline;
}
.action-button {
    display: inline-flex;
}
.py-0{
    margin-left: 5px;
}
